$blue: #4d89ee;
$white: #ffffff;
$darken-gray: #686e78;
$dark-gray: #a1a8b4;
$gray: #cbcfd6;
$light-gray: #f0f0f4;
$dark-black: #18191b;
$black: #212224;
$light-black: #3b3e43;

$header-height: 80px;
$header-height-mobile: 56px;
$container-width: 1170px;

$mobile-small: 320px;
$mobile: 480px;
$tablet: 768px;
$laptop-small: 1024px;
$laptop: 1248px;
$desktop: 1366px;
