@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Neucha-Regular.woff2") format("woff2"), url("../fonts/Neucha-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 80px;
  background-color: #f0f0f4;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 56px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 1248px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
}

.base-button {
  padding: 2px 16px;
  min-width: 54px;
  height: 54px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  border-radius: 12px;
}

.base-button--uppercase {
  text-transform: uppercase;
}

.base-button--large {
  min-width: 58px;
  height: 58px;
}

.base-button--small {
  min-width: 42px;
  height: 42px;
}

.base-button--blue-btn-hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.base-button--blue-btn-hover:hover {
  background: #2157b4;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.base-button:disabled {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-shadow: none !important;
  color: #a1a8b4 !important;
  border-color: #cbcfd6 !important;
  background: #cbcfd6 !important;
  cursor: not-allowed;
}

.base-button:disabled::before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.general-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #18191b;
}

.general-title--light {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .general-title {
    font-size: 26px;
    line-height: 36px;
  }
}

.general-description {
  font-size: 14px;
  line-height: 23px;
  color: #686e78;
}

.general-description--light {
  color: #cbcfd6;
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0px;
  background-image: url("../images/kogdavseti-logo-white.svg");
}

.logo--black {
  background-image: url("../images/kogdavseti-logo-black.svg");
}

.close-btn {
  min-width: 36px;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.close-btn::before, .close-btn::after {
  content: "";
  min-width: 16px;
  width: 16px;
  height: 2px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.close-btn::before {
  -webkit-transform: translateY(1px) rotate(45deg);
     -moz-transform: translateY(1px) rotate(45deg);
      -ms-transform: translateY(1px) rotate(45deg);
       -o-transform: translateY(1px) rotate(45deg);
          transform: translateY(1px) rotate(45deg);
}

.close-btn::after {
  -webkit-transform: translateY(-1px) rotate(-45deg);
     -moz-transform: translateY(-1px) rotate(-45deg);
      -ms-transform: translateY(-1px) rotate(-45deg);
       -o-transform: translateY(-1px) rotate(-45deg);
          transform: translateY(-1px) rotate(-45deg);
}

.close-btn:hover {
  background: #2157b4;
  border-color: #2157b4;
}

.close-btn:hover::before, .close-btn:hover::after {
  background: #ffffff;
}

.overflow-hidden {
  overflow: hidden;
}

.base-field__error {
  margin-top: 5px;
  font-size: 10px;
  line-height: 12px;
  color: tomato;
}

.base-input {
  position: relative;
  width: 100%;
}

.base-input *::-webkit-input-placeholder,
.base-input *::-webkit-input-placeholder {
  color: #18191b !important;
}

.base-input *::-moz-placeholde,
.base-input *::-moz-placeholder {
  color: #18191b !important;
}

.base-input *:-moz-placeholder,
.base-input *:-moz-placeholder {
  color: #18191b !important;
}

.base-input *:-ms-input-placeholder,
.base-input *:-ms-input-placeholder {
  color: #18191b !important;
}

.base-input__label {
  padding: 0px 6px 0px 4px;
  background: #ffffff;
  position: absolute;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a1a8b4;
  left: 12px;
  top: -7px;
}

.base-input__field, .base-input__textarea {
  padding: 13px 16px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cbcfd6;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #18191b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  outline: 0;
}

.base-input__field:hover, .base-input__textarea:hover {
  border-color: #4d89ee;
}

.base-input__field:focus, .base-input__textarea:focus {
  border-color: #686e78;
}

.base-input__field--error, .base-input__textarea--error {
  border-color: #ffc3cb !important;
  color: #bb3f4e !important;
}

.base-input__field--success, .base-input__textarea--success {
  border-color: #88ffcc !important;
  color: #249e6a !important;
}

.base-input__textarea {
  height: 110px;
  resize: none;
}

.base-select {
  position: relative;
  width: 100%;
}

.base-select__label {
  padding: 0px 6px 0px 4px;
  background: #ffffff;
  position: absolute;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #a1a8b4;
  left: 12px;
  top: -7px;
  z-index: 2;
}

.base-select__field {
  padding: 11px 16px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cbcfd6;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #18191b;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.base-select__field:hover {
  border-color: #4d89ee;
}

.base-select__field::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  min-width: 8px;
  width: 8px;
  height: 100%;
  background-image: url("../images/icons/arrow-down-black.svg");
  position: absolute;
  right: 15px;
  top: 0;
}

.base-select__field-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 6px;
  min-width: 26px;
  width: 26px;
  height: 26px;
  font-size: 0;
}

.base-select__list {
  padding: 3px 43px 27px;
  max-height: 130px;
  display: none;
  position: absolute;
  top: 100%;
  border: 1px solid #cbcfd6;
  left: 0;
  right: 0;
  z-index: 3;
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.base-select__list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #18191b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.base-select__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.base-select__list-item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 6px;
  min-width: 26px;
  width: 26px;
  height: 26px;
}

.base-select--active .base-select__field {
  border-color: #686e78;
  border-bottom-color: transparent;
  border-radius: 12px 12px 0 0;
}

.base-select--active .base-select__field::after {
  background-image: url("../images/icons/arrow-up-gray.svg");
}

.base-select--active .base-select__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #686e78;
  border-top-color: transparent;
  border-radius: 12px;
  border-radius: 0 0 12px 12px;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 110;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup--showed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 1px solid #3b3e43;
  z-index: 112;
}

.popup__close-btn::before, .popup__close-btn::after {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .popup__close-btn {
    display: none;
  }
}

.popup__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 34, 36, 0.8);
  cursor: pointer;
}

.popup-content {
  padding: 50px 70px 60px;
  max-width: 570px;
  width: 100%;
  max-height: -webkit-calc(100% - 40px);
  max-height: -moz-calc(100% - 40px);
  max-height: calc(100% - 40px);
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(24, 25, 27, 0.25);
          box-shadow: 0px 20px 35px rgba(24, 25, 27, 0.25);
  border-radius: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .popup-content {
    padding: 25px 30px 30px;
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}

.popup-content__controls {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content__logo {
  width: 230px;
  height: 46px;
}

@media screen and (max-width: 768px) {
  .popup-content__logo {
    width: 156px;
    height: 30px;
  }
}

.popup-content__close-btn {
  border: 1px solid #3b3e43;
  display: none;
}

.popup-content__close-btn::before, .popup-content__close-btn::after {
  background: #3b3e43;
}

@media screen and (max-width: 768px) {
  .popup-content__close-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.popup-content__description {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 23px;
  color: #686e78;
}

.popup-form__input {
  margin-bottom: 20px;
}

.popup-form__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .popup-form__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.popup-form__btn {
  padding-left: 36px;
  padding-right: 36px;
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(33, 87, 180, 0.6);
  background: #4d89ee;
  -webkit-box-shadow: 0px 15px 35px rgba(77, 137, 238, 0.4);
          box-shadow: 0px 15px 35px rgba(77, 137, 238, 0.4);
}

@media screen and (max-width: 768px) {
  .popup-form__btn {
    width: 100%;
  }
}

.popup-form__help-btns {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .popup-form__help-btns {
    margin: 20px 0 0;
  }
}

.popup-form__help-btns-item {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #4d89ee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.popup-form__help-btns-item:not(:last-child) {
  margin-bottom: 2px;
}

.popup-form__help-btns-item-arrow {
  margin-left: 8px;
}

.popup-form__help-btns-item-arrow path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.popup-form__help-btns-item:hover {
  color: #18191b;
}

.popup-form__help-btns-item:hover .popup-form__help-btns-item-arrow path {
  fill: #18191b;
}

.popup-form__help-btns-item:disabled {
  color: #cbcfd6;
  cursor: not-allowed;
}

.popup-form__help-btns-item:disabled .popup-form__help-btns-item-arrow path {
  fill: #cbcfd6;
}

.drawer__backdrop {
  content: "";
  display: block;
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 34, 36, 0.6);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.drawer--showed .drawer__backdrop {
  pointer-events: auto;
  opacity: 1;
}

.drawer-container {
  padding: 13px 40px 60px 30px;
  width: 400px;
  -webkit-transform: translateX(150vw);
     -moz-transform: translateX(150vw);
      -ms-transform: translateX(150vw);
       -o-transform: translateX(150vw);
          transform: translateX(150vw);
  position: fixed;
  z-index: 102;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .drawer-container {
    width: auto;
    left: 40px;
  }
}

.drawer--showed .drawer-container {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}

.drawer-controls {
  margin-bottom: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drawer-controls__logo {
  min-width: 156px;
  width: 156px;
  height: 30px;
}

.drawer-controls__close-btn {
  border-color: #cbcfd6;
}

.drawer-controls__close-btn::before, .drawer-controls__close-btn::after {
  background: #4d89ee;
}

.drawer-navigation {
  padding-left: 41px;
}

.drawer-navigation__list {
  list-style: none;
}

.drawer-navigation__list-item:not(:last-child) {
  margin-bottom: 12px;
}

.drawer-navigation__list-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #18191b;
  text-decoration: none;
}

.drawer-btns {
  width: 100%;
}

.drawer-btns__item {
  width: 100%;
  border: 1px solid #4d89ee;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #18191b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.drawer-btns__item:not(:last-child) {
  margin-bottom: 10px;
}

.drawer-btns__item:hover {
  border-color: #2157b4;
  background: #2157b4;
  color: #ffffff;
}

.drawer-btns__item--start {
  background: #4d89ee;
  -webkit-box-shadow: 0px 15px 35px rgba(77, 137, 238, 0.4);
          box-shadow: 0px 15px 35px rgba(77, 137, 238, 0.4);
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(33, 87, 180, 0.6);
}

.header {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.header-wrap, .header-wrap:hover {
  height: 80px;
  background: #212224;
  opacity: 1;
}

.header-wrap--small {
  height: 62px;
  background: rgba(33, 34, 36, 0.8);
}

@media screen and (max-width: 768px) {
  .header-wrap, .header-wrap:hover, .header-wrap--small {
    height: 56px;
    background: #212224;
  }
}

.header__logo {
  min-width: 182px;
  width: 182px;
  height: 36px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    min-width: 156px;
    width: 156px;
    height: 30px;
  }
}

@media screen and (max-width: 1248px) {
  .header-navigation {
    display: none;
  }
}

.header-navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-navigation__list-item:not(:last-child) {
  margin-right: 60px;
}

@media screen and (max-width: 1248px) {
  .header-navigation__list-item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .header-navigation__list-item:not(:last-child) {
    margin-right: 20px;
  }
}

.header-navigation__list-link {
  font-size: 15px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}

.header-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header-controls__btn {
  color: #ffffff;
  border: 1px solid #4d89ee;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.header-controls__btn:not(:last-child) {
  margin-right: 10px;
}

.header-controls__btn:hover {
  border-color: #ffffff;
}

.header-controls__btn-item {
  width: 16px;
  height: 2px;
  background: #ffffff;
  border-radius: 3px;
}

.header-controls__btn-item:not(:last-child) {
  margin-bottom: 3px;
}

.header-controls__btn--lk {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  font-size: 0px;
  background-image: url("../images/icons/person-white.svg");
}

@media screen and (max-width: 1248px) {
  .header-controls__btn--lk {
    display: none;
  }
}

.header-controls__btn--start {
  padding-left: 36px;
  padding-right: 36px;
}

@media screen and (max-width: 768px) {
  .header-controls__btn--start {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    height: 36px;
  }
}

@media screen and (max-width: 480px) {
  .header-controls__btn--start {
    display: none;
  }
}

.header-controls__btn--hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0px;
  width: 42px;
  height: 42px;
  border-radius: 8px;
}

@media screen and (max-width: 1248px) {
  .header-controls__btn--hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .header-controls__btn--hamburger {
    width: 36px;
    height: 36px;
  }
}

.main-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

@media screen and (max-width: 820px) {
  .main-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1248px) {
  .main-banner {
    padding-top: 78px;
    padding-bottom: 30px;
    background-position: top -50px right;
  }
}

@media screen and (max-width: 768px) {
  .main-banner {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.main-banner__content-wrapper {
  max-width: 602px;
}

.main-banner__title {
  margin-bottom: 23px;
  max-width: 695px;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #212224;
}

@media screen and (max-width: 1248px) {
  .main-banner__title {
    max-width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .main-banner__title {
    max-width: 350px;
    font-size: 26px;
    line-height: 36px;
  }
}

@media screen and (max-width: 480px) {
  .main-banner__title {
    max-width: 222px;
  }
}

.main-banner__description {
  margin-bottom: 33px;
  max-width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #525568;
}

.main-banner-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .main-banner-controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-banner-controls__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-banner-controls__btn--start {
  padding-left: 42px;
  padding-right: 42px;
  background: #4d89ee;
  color: #ffffff;
  -webkit-box-shadow: 0px 15px 35px rgba(77, 137, 238, 0.4);
          box-shadow: 0px 15px 35px rgba(77, 137, 238, 0.4);
  text-shadow: 0px 1px 0px rgba(33, 87, 180, 0.6);
}

@media screen and (max-width: 768px) {
  .main-banner-controls__btn--start {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1248px) {
  .main-banner__img {
    width: 346px;
  }
}

@media screen and (max-width: 820px) {
  .main-banner__img {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .main-banner__img {
    width: 100%;
  }
}

.unique-service {
  padding-top: 46px;
  padding-bottom: 55px;
}

@media screen and (max-width: 1248px) {
  .unique-service {
    padding-top: 72px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 768px) {
  .unique-service {
    padding-top: 45px;
  }
}

.unique-service__title {
  margin-bottom: 10px;
}

.unique-service__description {
  margin-bottom: 26px;
  max-width: 615px;
}

@media screen and (max-width: 1248px) {
  .unique-service__description {
    margin-bottom: 30px;
  }
}

.unique-service-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 1248px) {
  .unique-service-cards {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .unique-service-cards {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.unique-service-cards__item {
  padding: 50px 20px 40px 20px;
  width: 280px;
  height: 320px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
          box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
  border-radius: 26px;
}

.unique-service-cards__item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  min-width: 71px;
  width: 71px;
  height: 80px;
}

.unique-service-cards__item-img_1 {
  background-image: url("../images/unique-service-card-1.svg");
}

.unique-service-cards__item-img_2 {
  background-image: url("../images/unique-service-card-2.svg");
}

.unique-service-cards__item-img_3 {
  background-image: url("../images/unique-service-card-3.svg");
}

.unique-service-cards__item-title {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #212224;
}

.unique-service-cards__item-description {
  font-size: 14px;
  line-height: 23px;
  color: #a1a8b4;
}

.unique-service .slick-list {
  height: 378px;
}

.unique-service .slick-slide {
  margin-left: 20px;
}

.reports {
  padding-top: 80px;
  padding-bottom: 66px;
}

@media screen and (max-width: 768px) {
  .reports {
    padding-bottom: 30px;
  }
}

.reports-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#0a1b3d), to(#18191b)), #18191b;
  background: -webkit-linear-gradient(left, #0a1b3d 0%, #18191b 100%), #18191b;
  background: -moz-linear-gradient(left, #0a1b3d 0%, #18191b 100%), #18191b;
  background: -o-linear-gradient(left, #0a1b3d 0%, #18191b 100%), #18191b;
  background: linear-gradient(90deg, #0a1b3d 0%, #18191b 100%), #18191b;
}

@media screen and (max-width: 1248px) {
  .reports-wrap {
    background: -webkit-gradient(linear, left top, right top, from(#0c1a37), to(#161920));
    background: -webkit-linear-gradient(left, #0c1a37 0%, #161920 100%);
    background: -moz-linear-gradient(left, #0c1a37 0%, #161920 100%);
    background: -o-linear-gradient(left, #0c1a37 0%, #161920 100%);
    background: linear-gradient(90deg, #0c1a37 0%, #161920 100%);
  }
}

@media screen and (max-width: 768px) {
  .reports-wrap {
    background: -webkit-gradient(linear, left top, right top, from(#0f1a31), to(#131926));
    background: -webkit-linear-gradient(left, #0f1a31 0%, #131926 100%);
    background: -moz-linear-gradient(left, #0f1a31 0%, #131926 100%);
    background: -o-linear-gradient(left, #0f1a31 0%, #131926 100%);
    background: linear-gradient(90deg, #0f1a31 0%, #131926 100%);
  }
}

.reports__title {
  margin-bottom: 10px;
}

.reports__description {
  margin-bottom: 23px;
  max-width: 620px;
}

.reports-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 292px;
}

.reports-card__img {
  width: 180px;
}

.reports-card__title {
  width: 100%;
  margin-top: 16px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
}

.reports-card__text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #cbcfd6;
}

.reports-slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.reports-slider-wrapper .slick-slide {
  margin-right: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 292px;
}

@media screen and (max-width: 1248px) {
  .reports-slider-wrapper .slick-slide {
    margin-right: 60px;
  }
}

.cta-banner {
  padding: 45px 70px 40px 70px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
          box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
  border-radius: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1248px) {
  .cta-banner {
    margin: 70px 72px;
  }
}

@media screen and (max-width: 1024px) {
  .cta-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .cta-banner {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 480px) {
  .cta-banner {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.cta-banner__title {
  margin-bottom: 24px;
}

.cta-banner__description {
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .cta-banner__img {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .cta-banner__img {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .cta-banner__img {
    width: 100%;
  }
}

.recommend {
  margin-top: 50px;
}

.recommend__title {
  margin-bottom: 10px;
}

.recommend__description {
  margin-top: 10px;
  max-width: 570px;
}

.recommend-card-wrapper {
  margin-top: 26px;
}

.recommend .recommend-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 298px;
  padding: 26px 32px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
          box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
  border-radius: 26px;
}

.recommend .recommend-card__avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 88px;
  background: #ffffff;
  border-radius: 24px;
  -webkit-box-shadow: 0px 15px 30px rgba(198, 197, 210, 0.15), 0px 12px 20px rgba(198, 197, 210, 0.25), 0px 4px 5px rgba(198, 197, 210, 0.45);
          box-shadow: 0px 15px 30px rgba(198, 197, 210, 0.15), 0px 12px 20px rgba(198, 197, 210, 0.25), 0px 4px 5px rgba(198, 197, 210, 0.45);
}

.recommend .recommend-card__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #212224;
}

@media screen and (max-width: 768px) {
  .recommend .recommend-card__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
}

.recommend .recommend-card__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #3b3e43;
}

@media screen and (max-width: 768px) {
  .recommend .recommend-card {
    width: 240px;
    height: 240px;
    padding: 10px 20px;
  }
}

.recommend .recommend-card-wrapper .slick-list {
  width: 100%;
  height: 382px;
}

@media screen and (max-width: 768px) {
  .recommend .recommend-card-wrapper .slick-list {
    height: 315px;
  }
}

.recommend .recommend-card-wrapper .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 24px;
}

.reviews {
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .reviews {
    padding-top: 50px;
  }
}

.reviews__title {
  margin-bottom: 10px;
}

.reviews__description {
  margin-bottom: 24px;
  max-width: 570px;
}

@media screen and (max-width: 768px) {
  .reviews__description {
    margin-bottom: 42px;
  }
}

.reviews-cards {
  margin-top: 24px;
}

.reviews-cards__item {
  margin-bottom: 40px;
  margin-right: 40px;
  max-width: 510px;
}

@media screen and (max-width: 1248px) {
  .reviews-cards__item {
    margin-right: 20px;
  }
}

.reviews-cards__item-description {
  min-height: 188px;
  margin-bottom: 30px;
  padding: 32px 40px 40px;
  position: relative;
  background: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
          box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
  font-size: 14px;
  line-height: 23px;
  color: #212224;
}

.reviews-cards__item-description::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-left: 10px solid #ffffff;
  position: absolute;
  top: 100%;
  left: 30px;
}

@media screen and (max-width: 1248px) {
  .reviews-cards__item-description {
    padding: 32px 30px 40px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-cards__item-description {
    padding: 22px 20px 40px;
    width: 300px;
    min-height: 222px;
  }
}

@media screen and (max-width: 480px) {
  .reviews-cards__item-description {
    min-height: 292px;
    width: 240px;
  }
}

.reviews-cards__item-description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #212224;
}

.reviews-cards__item-user-title {
  margin-top: 7px;
  font-size: 18px;
  line-height: 26px;
  color: #333337;
}

@media screen and (max-width: 768px) {
  .reviews-cards__item-user-title {
    margin-top: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
  }
}

.reviews-cards__item-user-description {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #4d89ee;
}

.faq.container {
  margin-top: 96px;
  margin-bottom: 300px;
}

@media screen and (max-width: 768px) {
  .faq.container {
    margin-bottom: 60px;
  }
}

.faq__content {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .faq__content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.faq .content__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 570px;
  width: 100%;
}

@media screen and (max-width: 1248px) {
  .faq .content__column {
    max-width: 445px;
  }
}

@media screen and (max-width: 768px) {
  .faq .content__column {
    max-width: 100%;
  }
}

.faq__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 31px;
  line-height: 43px;
  color: #161516;
}

@media screen and (max-width: 1248px) {
  .faq__img {
    width: 380px;
  }
}

@media screen and (max-width: 1024px) {
  .faq__img {
    width: 300px;
  }
}

.faq-card {
  padding: 50px 20px 40px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
          box-shadow: 0px 20px 35px rgba(161, 168, 180, 0.25);
  border-radius: 26px;
  max-width: 570px;
  margin-bottom: 30px;
  padding: 27px 36px 27px 36px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1248px) {
  .faq-card {
    max-width: 445px;
  }
}

@media screen and (max-width: 768px) {
  .faq-card {
    padding: 18px;
    border-radius: 16px;
    max-width: 100%;
  }
}

.faq-card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-card__header .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #212224;
  text-align: left;
}

.faq-card__text {
  margin-top: 10px;
  max-width: 498px;
  display: none;
  text-align: left;
}

.faq-card__text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 29px;
  color: #595866;
}

.faq-card--active .faq-card__text {
  display: block;
}

.faq-card--active .icon {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  padding-top: 220px;
  padding-bottom: 70px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1248px) {
  .footer {
    padding-top: 135px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-wrap {
  background: #18191b;
}

.footer-special-offer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 62px 100px;
  width: 100%;
  background-color: #4d89ee;
  background-image: url("../images/special-offer.png");
  border-radius: 26px;
  position: absolute;
  top: -150px;
  left: 0;
}

@media screen and (max-width: 1248px) {
  .footer-special-offer {
    padding: 62px 70px;
    width: -webkit-calc(100% - 144px);
    width: -moz-calc(100% - 144px);
    width: calc(100% - 144px);
    left: 72px;
    top: -215px;
  }
}

@media screen and (max-width: 768px) {
  .footer-special-offer {
    margin: 0 -40px 75px;
    padding: 62px 20px 62px 70px;
    width: auto;
    position: static;
    border-radius: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer-special-offer {
    margin: 0 -20px 75px;
  }
}

.footer-special-offer__title {
  margin-bottom: 20px;
  max-width: 525px;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .footer-special-offer__title {
    font-size: 26px;
    line-height: 36px;
    max-width: 100%;
  }
}

.footer-special-offer__btn {
  padding-left: 42px;
  padding-right: 42px;
  background: #ffb840;
  -webkit-box-shadow: 0px 15px 35px rgba(3, 36, 90, 0.4);
          box-shadow: 0px 15px 35px rgba(3, 36, 90, 0.4);
  color: #18191b;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.footer-special-offer__btn:hover {
  background: #ffe793;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__logo {
  margin-right: 70px;
  min-width: 200px;
  width: 200px;
  height: 40px;
  display: block;
}

@media screen and (max-width: 1248px) {
  .footer__logo {
    min-width: 180px;
    width: 180px;
    height: 36px;
  }
}

@media screen and (max-width: 768px) {
  .footer__logo {
    margin: 0 0 14px;
    min-width: 212px;
    width: 212px;
    height: 42px;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    width: 100%;
  }
}

.footer-navigation {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-navigation {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-navigation__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-navigation__container {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .footer-navigation__container-line {
    margin: 0 20px;
    min-width: 1px;
    width: 1px;
    height: 13px;
    background: #5851db;
  }
}

.footer-navigation__item {
  margin-right: 60px;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer-navigation__item {
    margin-right: 0;
  }
}

.footer-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-info__container {
  margin-right: 123px;
}

@media screen and (max-width: 768px) {
  .footer-info__container {
    width: 100%;
    margin: 24px 0 0;
  }
}

.footer-info__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #686e78;
}

@media screen and (max-width: 768px) {
  .footer-info__item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer-info__item-container {
    text-align: center;
  }
}

.footer-info__item-container:not(:last-child) {
  margin-bottom: 7px;
}

.footer-info__item--copyright {
  font-size: 13px;
  line-height: 28px;
  position: absolute;
  top: 220px;
  right: 30px;
}

@media screen and (max-width: 1248px) {
  .footer-info__item--copyright {
    margin-top: 26px;
    position: static;
    font-size: 10px;
    line-height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer-info__item--copyright {
    margin: 62px -40px 0;
    padding: 27px 0;
    width: auto;
    background: #0f0f10;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer-info__item--copyright {
    margin: 62px -20px 0;
  }
}
/*# sourceMappingURL=styles.css.map */